---
const num = 1;
const str = 'Nam';
const bool = true;
const arr = [1, 2, 3];
const obj = {
	name :str,
	age: num,
	arr:["a","b","c"],
}

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{obj.name}</h1>	
	</body>
</html>
